/* Header / Navbar */
header {
  background-color: #8B5E3C; /* nâu sang trọng */
  color: white;
  padding: 15px 30px;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}
